$body-bg: #0f0e17;
$body-color: #a7a9be;

@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 30px;
}

h2,
h3,
h6 {
  color: #fffffe;
}

.btn {
  background-color: #a7a9be;
  border: none;
  border-radius: 0;
  color: #0f0e17;
  &:hover {
    box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    transform: scale(1.05);
    background-color: #a7a9be;
    color: #0f0e17;
  }
}

.btn-secondary {
  background-color: #ff8906;
  border: none;
  border-radius: 0;
  color: #0f0e17;
  &:hover {
    box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    transform: scale(1.05);
    background-color: #ff8906;
    color: #0f0e17;
  }
}

.card {
  color: #a7a9be;
  text-align: center;
  background-color: #0f0e17;
  border-color: #a7a9be;
  border-radius: 0;

  box-shadow: 0 6px 10px rgba(40, 40, 40, 0.08), 0 0 6px rgba(40, 40, 40, 0.05);
  // cursor: pointer
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  &:hover {
    box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    transform: scale(1.05);
  }
}

.card-title {
  padding-top: 10px;
}

.navbar {
  background-color: #a7a9be;
  padding-left: 10px;
  padding-right: 10px;
  color: #0f0e17;
}

.form-control:focus {
  border-color: #ff8906;
  box-shadow: 0 0 0 0.2rem rgba(131, 36, 2, 0.25);
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
