$body-bg: #0f0e17;
$body-color: #a7a9be;

@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2,
h3,
h6 {
  color: #fffffe;
}

.btn {
  background-color: #a7a9be;
  border: none;
  border-radius: 0;
  color: #0f0e17;
  &:hover {
    box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    transform: scale(1.05);
    background-color: #a7a9be;
    color: #0f0e17;
  }
}

.btn-secondary {
  background-color: #ff8906;
  border: none;
  border-radius: 0;
  color: #0f0e17;
  &:hover {
    box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    transform: scale(1.05);
    background-color: #ff8906;
    color: #0f0e17;
  }
}

.card {
  color: #a7a9be;
  text-align: center;
  background-color: #0f0e17;
  border-color: #a7a9be;
  border-radius: 0;
  // border-radius: 4px;
  // box-shadow: 0 6px 10px rgba(40, 40, 40, 0.08), 0 0 6px rgba(40, 40, 40, 0.05);
  // // cursor: pointer;
  // transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
  //   0.3s box-shadow,
  //   0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  // &:hover {
  //   box-shadow: 0 10px 20px rgba(40, 40, 40, 0.12),
  //     0 4px 8px rgba(40, 40, 40, 0.06);
  //   transform: scale(1.05);
  // }
}

.card-title {
  font-size: 16px;
  font-weight: bolder;
  padding-top: 10px;
}

.card-text {
  font-size: 14px;
}

.profile-card {
  background-color: #000;
  padding: 10px;
}

.navbar {
  background-color: #a7a9be;
  padding-left: 10px;
  padding-right: 10px;
}
